<html>
<head>
    {% load i18n %}
    {% load allauth %}
    {% load account %}
    <title>{% trans "Reset" %}</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/acesso.css' %}">
        <script src="https://kit.fontawesome.com/ccaafbad32.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        {% block content %}
            <div class="auth-mark">G2P</div>
            {% element h1 %}
                {% trans "Email sent!" %}
            {% endelement %}
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
                We've sent an email to you. If you haven't received it, check your spam folder. <br> Otherwise, contact us if you don't receive it in a few minutes.
            </p>
        {% endblock content %}
    </div>
</body>
</html>
