<html>
    <head>
        {% load i18n %}
        {% load allauth %}
        <title>
            {% trans "Change Password" %}
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/acesso.css' %}">
        <script src="https://kit.fontawesome.com/ccaafbad32.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/eye.js' %}"></script>
        <style>
            .eye{
                cursor: pointer;
                position: absolute;
                right: 30px;
            }
        </style>
    </head>
    <body>
        <div class="container2">
            {% block content %}
                <div class="auth-mark">G2P</div>
                {% element h1 %}
                    {% if token_fail %}
                        {% trans "Bad Token" %}
                    {% else %}
                        {% trans "Change Password" %}
                    {% endif %}
                {% endelement %}
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password</a>.{% endblocktrans %}
                    </p>
                {% else %}
                    {% element form method="post" action=action_url %}
                        {% slot body %}
                            {% csrf_token %}
                            
                            <center><div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required id="id_password">
                                <i class="fa-solid fa-eye eye" id="btn-eye" onclick="mostrarSenha()"></i>
                            </div></center>

                            <center><div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password2" placeholder="New Password (again)" required id="id_password2">
                            </div></center>

                        {% endslot %}
                        {% slot actions %}
                            <button type="submit" name="action" class="btn">Change Password</button>
                        {% endslot %}
                    {% endelement %}
                {% endif %}
                {% if form.errors %}
                        <div class="error-message" style="color:orangered">
                            <ul>
                                {% for error in form.errors.values %}
                                    {% for err in error %}
                                        <li>{{ err }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                {% endif %}
            {% endblock content %}
        </div>
    </body>
</html>
