<html>
    <head>  
        {% load i18n %}
        {% load allauth %}
        {% load static %}
        <title>{% trans "Password Changed" %}</title>
        <link rel="stylesheet" href="{% static 'css/acesso.css' %}">
        <script src="https://kit.fontawesome.com/ccaafbad32.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            {% block content %}
                <div class="auth-mark">G2P</div>
                {% element h1 %}
                    {% trans "Password Changed" %}
                {% endelement %}
                <p>{% trans 'Your password has been changed.' %}</p>
            {% endblock content %}
        </div>
    </body>
</html>
