<html>
    <head>
        {% load allauth i18n %}
        <title>{% trans "Change Password" %}</title>
        {% load static%}
        <link rel="stylesheet" href="{% static 'css/acesso.css' %}">
        <script src="https://kit.fontawesome.com/ccaafbad32.js" crossorigin="anonymous"></script>
        <script>
            function mostrarSenha(){
                var inputPass = document.getElementById('id_oldpassword')
                var btnShowPass = document.getElementById('btn-eye')
            
                if(inputPass.type === 'password'){
                    inputPass.setAttribute('type','text')
                    btnShowPass.classList.replace('fa-eye','fa-eye-slash')
                }else{
                    inputPass.setAttribute('type','password')
                    btnShowPass.classList.replace('fa-eye-slash','fa-eye')
                }
            }

            function mostrarSenha1(){
                var inputPass1 = document.getElementById('id_password1')
                var btnShowPass = document.getElementById('btn-eye1')

                if(inputPass1.type === 'password'){
                    inputPass1.setAttribute('type','text')
                    btnShowPass.classList.replace('fa-eye','fa-eye-slash')
                }else{
                    inputPass1.setAttribute('type','password')
                    btnShowPass.classList.replace('fa-eye-slash','fa-eye')
                }
            } 
        </script>
        <style>
            .eye{
                cursor: pointer;
                position: absolute;
                right: 30px;
            }
        </style>
    </head>  
    
    <body>
        <div class="container2">
            {% block content %}
                <div class="auth-mark">G2P</div>
                {% element h1 %}
                    {% trans "Change Password" %}
                {% endelement %}
                {% url 'account_change_password' as action_url %}
                {% element form form=form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}

                        <form method="post" action="/accounts/password/change/">
                            
                            
                            <input type="hidden" name="csrfmiddlewaretoken" value="7ZfxvwQ1M879i39bKzLMW2HZJHCRJcX96D7tHR7KM8oaZ2yUCPE5SGPzfPKdT8X0">

                            <!--<label for="id_oldpassword">Current Password:</label>-->
                            <center><div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" required="" id="id_oldpassword">
                                <i class="fa-solid fa-eye eye" id="btn-eye" onclick="mostrarSenha()"></i>
                            </div></center>

                            <!--<label for="id_password1">New Password:</label>-->
                            <center><div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
                                <i class="fa-solid fa-eye eye" id="btn-eye1" onclick="mostrarSenha1()"></i>
                            </div></center>
                            <!--<span class="helptext" id="id_password1_helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>-->

                            <!--<label for="id_password2">New Password (again):</label>-->
                            <center><div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2">
                            </div></center>
                        </form>
                    {% endslot %}
                    {% slot actions %}
                        <button type="submit" class="btn">{% trans "Change Password" %}</button><br>
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    {% endslot %}
                {% endelement %}
                {% if form.errors %}
                        <div class="error-message" style="color:orangered">
                            <ul>
                                {% for error in form.errors.values %}
                                    {% for err in error %}
                                        <li>{{ err }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                {% endif %}
            {% endblock content %}
        </div>
    </body>
</html>

